body {margin: 0px;
padding: 0px;
  width:360px; 
}
    
    img {width:360px; }
    ul{margin:0; padding:0;}
    li{ display:inline-block; margin:9px; float:right; background:#9C27B0;padding:5px 7px; border}
    a{ text-decoration:none;color:white;
    } 
   
 .htag{
 
   height: 150px;
   width: 150px;
   margin-left: 8px;
   margin-top: 4px;
   border-radius: 15px;
   box-shadow: 0px 0px 5px 1px black;
  
 }
.htag:hover{
  width: 345px;
 height: 400px;
 box-shadow: 0px 0px 0px 0px;
 background: black;
}
.htag img {
  
  max-width:100%;
}