body {margin: 0px;
padding: 0px;
}
    
    img {width:360px; }
    ul{margin:0; margin-top:5px; padding:0; font-family:arial black ; }
    li{ display:inline-block; margin:3px; float:right;  padding-right:25px; border; font-size:30px; margin-top:13px; }
    a{ text-decoration:none;color:white;
    } 
  .head{height:50px;;}
 .htag{
 
   height: 400px;
   width:400px;
   margin-left:55px;
   margin-top: 50px;
   border-radius: 35px;
   box-shadow: 0px 0px 5px 1px black;
   transition: 1s;
   
  
 }
.htag:hover{ height:800px;
  width: 700px;
  background: red;
}
.htag img {
  
  max-width:100%;
  max-height: 100%;
}

.htag img:hover{ height:540px;  width:750px;   }
.htag{display:inline-block;}

.hk{ background:#E0E0E0; height:530px;  width:100%; }
.ttt{ background:tomato; height:60px;       }
.hk img { height:550px; width:100%;     }
